@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1  style='font-family:"Comic Sans MS";'><marquee behavior="alternate" direction="right" bgcolor=#A9A9A9>
    HR DEPARTMENT
</marquee></h1>
     <p style='font-family:"Comic Sans MS";'><marquee behavior="alternate" direction="right" bgcolor=#D3D3D3>
    Course project by Badenko Maxim 642p
</marquee></p>
    <p></p>
</div>

<div class="row">

</div>